<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_ContactsUrl>
			<version>1.0.0.0</version>
		</Fishpig_ContactsUrl>
	</modules>
	<global>
		<models>
			<contactsurl>
				<class>Fishpig_ContactsUrl_Model</class>
			</contactsurl>
		</models>
		<events>
			<controller_front_init_before>
				<observers>
					<contactsurl>
						<type>singleton</type>
						<class>contactsurl/observer</class>
						<method>initRoute</method>
					</contactsurl>
				</observers>
			</controller_front_init_before>
		</events>
	</global>
</config>