<?xml version="1.0"?>
<config>
    <sections>
        <contacts>
            <groups>
        		<custom_url translate="label" module="contacts">
					<label>Page URL</label>
					<sort_order>11</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
           				<enabled>
            				<label>Enabled</label>
            				<frontend_type>select</frontend_type>
            				<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
           				</enabled>
           				<uri>
            				<label>URI</label>
            				<comment>This will be append to your base URL and will be the URL your contacts page is available from. eg. contact-us</comment>
            				<frontend_type>text</frontend_type>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
           				</uri>
					</fields>
        		</custom_url>
        	</groups>
        </contacts>
	</sections>
</config>